<div class="container__big-card">
  
    <!--mockado (não dinamico, travado) -->
    <div class="big-card__photo">
        <img src="{{photoCover}}" 
        alt="imagem do big card"
        height="250px"
       
        >

    </div>
    <div class="big-card__title">
           <h1><a href="#">{{cardTitle}}</a></h1> 
    </div>
    <div class="big-card__description">
        <p>
            <a href="">
              {{cardDescription}}
            </a>
        </p>
          
    </div>


</div>